.cards-item {
  max-width: 450px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 20px;
  border: grey solid 1px;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cards-item__img {
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.cards-item__name {
  text-align: center;
}

.cards-item__price-container {
  padding: 10px 0;
  background-color: #fafafa;
}

.cards-item__btn {
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: 0.3s ease-in;
}

.cards-item:hover .cards-item__btn {
  background: #fc5a5a;
}

.cards-item__price {
  display: block;
  margin-bottom: 10px;
}

.cards-item__name {
  margin-bottom: 10px;
}

//BUSKET-ICON

.busket-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  top: 30px;
}

.busket-amount {
  color: green;
  position: fixed;
  right: 60px;
  top: 60px;
}

.disable {
  display: none;
}
