<section class="section">
  <ul class="cards-list">
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-1.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">Косплей Юмеко <br> «Шалений азарт»</p>
      <span class="cards-item__price">Ціна: 800грн</span>
      <button class="cards-item__btn" data-id="1">Придбати</button>
      </div>
    </li>
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-2.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">Косплей Ідзумі Сагірі (косплей+перука)</p>
      <span class="cards-item__price">Ціна: 1000грн</span>
      <button class="cards-item__btn" data-id="2">Придбати</button>
      </div>
    </li>
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-3.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">Косплей Хаягави Кіоко</p>
      <span class="cards-item__price">Ціна: 900грн.</span>
      <button class="cards-item__btn" data-id="3">Придбати</button>
      </div>
    </li>
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-4.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">Хаорі Шинобу «Клинок, який знищує демонів»</p>
      <span class="cards-item__price">Ціна: 400грн.</span>
      <button class="cards-item__btn" data-id="4">Купить</button>
      </div>
    </li>
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-5.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">Костюм покоївки</p>
      <span class="cards-item__price">Ціна: 675грн.</span>
      <button class="cards-item__btn" data-id="5">Купить</button>
      </div>
    </li>
    <li class="cards-item">
      <img class="cards-item__img" src="images/cards/card-img-6.jpeg" alt="">
      <div class="cards-item__price-container">
      <p class="cards-item__name">В‘язані гетри</p>
      <span class="cards-item__price">Ціна: 120грн.</span>
      <button class="cards-item__btn" data-id="6">Купить</button>
      </div>
    </li>
  </ul>
  <a>Додати новий товар</a>
</section>