<header class="header">
  <div class="mobile-header">
    <a class="logo" href="/src/index.html">
    <img src="/src/images/logo.jpg" alt="" >
    </a>
    <button class="mobile-btn" type="button" aria-label="Кнопка переключения меню" aria-expanded="false"
      data-menu-button>
      <svg width="40" height="40">
        <use class="mobile-btn__menu" href="./images/icons.svg#icon-mobile-menu"></use>
        <use class="mobile-btn__close" href="./images/icons.svg#icon-mobile-close"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-overlay" data-menu>
    <div class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Контакты</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="">Доставка</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="/src/busket.html">Корзина</a></li>
      </ul>
    </div>
  </div>
  </div>
</header>