<div class="section">
<div class="items-filter-container container">
  <ul class="items-filter__list">
    <li class="items-filter__item">
      <button class="items-filter__button">Перуки</button>
    </li>
    <li class="items-filter__item">
      <button class="items-filter__button">Костюми</button>
    </li>
    <li class="items-filter__item">
      <button class="items-filter__button">Лінзи</button>
    </li>
    <li class="items-filter__item">
      <button class="items-filter__button">Зброя</button>
    </li>
    <li class="items-filter__item">
      <button class="items-filter__button">Аксесуари</button>
    </li>
  </ul>
</div>
</div>