  <div class="carousel">
      <div class="carousel-cell">
      <img src="/src/images/slider/slider-1.jpeg" alt="">
      </div>
      <div class="carousel-cell">
      <img src="/src/images/slider/slider-2.jpeg" alt="">
      </div>
      <div class="carousel-cell">
      <img src="/src/images/slider/slider-3.jpeg" alt="">
      </div>
      <div class="carousel-cell">
      <img src="/src/images/slider/slider-4.jpeg" alt="">
      </div>
      <div class="carousel-cell">
      <img src="/src/images/slider/slider-5.jpeg" alt="">
      </div>
  </div>


